In [ ]:
#-*- encoding: utf-8 -*-

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
bookloan = pd.read_csv('C:/Users/KIM/Downloads/데이터_단행본대출.csv',encoding='cp949')
bookres = pd.read_csv('C:/Users/KIM/Downloads/데이터_단행본예약.csv',encoding='cp949')
bookinfo = pd.read_csv('C:/Users/KIM/Downloads/데이터_단행본도서.csv',encoding='cp949')

In [ ]:
bookloan = bookloan[bookloan['소속']!='숭실대학교']

도서대출분위수

In [ ]:
#대출 도수 데이터프레임
bookloan_freq_book = pd.DataFrame(bookloan['서명'].value_counts().reset_index())
bookloan_freq_book.columns = ['서명', '도수']

In [ ]:
bookloan_quan = bookloan_freq_book.copy()

In [ ]:
#대출 도수 5분위수 지정
loan_q1 = bookloan_freq_book['도수'].quantile(.2)
loan_q2 = bookloan_freq_book['도수'].quantile(.4)
loan_q3 = bookloan_freq_book['도수'].quantile(.6)
loan_q4 = bookloan_freq_book['도수'].quantile(.8)

In [ ]:
#대출 도수 분위수화
bookloan_quan.columns = ['서명','대출분위수']

for i in range(len(bookloan_quan)):
    if bookloan_quan['대출분위수'][i] > loan_q4 :
        bookloan_quan['대출분위수'][i] = 5
    elif bookloan_quan['대출분위수'][i] > loan_q3 :
        bookloan_quan['대출분위수'][i] = 4
    elif bookloan_quan['대출분위수'][i] > loan_q2 :
        bookloan_quan['대출분위수'][i] = 3
    elif bookloan_quan['대출분위수'][i] > loan_q1 :
        bookloan_quan['대출분위수'][i] = 2
    else :
        bookloan_quan['대출분위수'][i]=1

In [ ]:
bookloan_quan

                                             서명  대출분위수
0                                       미움받을 용기      5
1                                           데미안      5
2                                           이방인      5
3                                        멋진 신세계      5
4      지적 대화를 위한 넓고 얕은 지식 :역사, 경제, 정치, 사회, 윤리 편      5
...                                         ...    ...
87541               기적의 입버릇:소리 내어 말할 때 꿈은 이루어진다      1
87542                              사랑 :이광수 장편소설      1
87543                                로드 바이크의 과학      1
87544                                  현대시와 이상향      1
87545                     아트 오브 트롤 :드림웍스 공식 아트북      1

[87546 rows x 2 columns]

In [ ]:
#csv파일 저장
bookloan_quan.to_csv('도서대출분위수.csv',index = False,encoding = 'cp949')

도서예약분위수

In [ ]:
#예약 도수 데이터프레임
bookres_freq_book = pd.DataFrame(bookres['서명'].value_counts().reset_index())
bookres_freq_book.columns = ['서명', '도수']

In [ ]:
#예약 5분위수 지정
bookres_quan = bookres_freq_book.copy()
bookres_quan.columns = ['서명','예약분위수']
res_q1 = bookres_freq_book['도수'].quantile(.2)
res_q2 = bookres_freq_book['도수'].quantile(.4)
res_q3 = bookres_freq_book['도수'].quantile(.6)
res_q4 = bookres_freq_book['도수'].quantile(.8)

In [ ]:
#예약 도수 분위수화
for i in range(len(bookres_quan)):
    if bookres_quan['예약분위수'][i] > res_q4 :
        bookres_quan['예약분위수'][i] = 5
    elif bookres_quan['예약분위수'][i] > res_q3 :
        bookres_quan['예약분위수'][i] = 4
    elif bookres_quan['예약분위수'][i] > res_q2 :
        bookres_quan['예약분위수'][i] = 3
    elif bookres_quan['예약분위수'][i] > res_q1 :
        bookres_quan['예약분위수'][i] = 2
    else :
        bookres_quan['예약분위수'][i]=1

In [ ]:
bookres_quan

                                              서명  예약분위수
0                             82년생 김지영 :조남주 장편소설      5
1                                         언어의 온도      5
2                     나미야 잡화점의 기적 :히가시노 게이고 장편소설      5
3                                  아몬드 :손원평 장편소설      5
4     나는 나로 살기로 했다 :냉담한 현실에서 어른살이를 위한 to do list      5
...                                          ...    ...
8719        Economic approaches to organizations      1
8720             쿠버네티스 기초 다지기: 기초부터 시작하는 단계별 가이드      1
8721                                (最新) 建築一般構造學      1
8722        (2018) 세무회계리뷰 =Tax accounting review      1
8723    코드로 배우는 스프링 부트 웹 프로젝트 :현업 개발을 위한 단계별 실습서      1

[8724 rows x 2 columns]

In [ ]:
#csv파일 저장
bookres_quan.to_csv('도서예약분위수.csv',index=False, encoding='cp949')

소속별 분위수

In [ ]:
#소속별 대출 도수표 '소속명+도수표'로 저장
major_list = bookloan['소속'].unique()
for i in major_list:
    globals()[str(i)+'loan'] = bookloan[bookloan['소속'] == i]
    globals()[str(i)+'도수표'] = pd.DataFrame(globals()[str(i)+'loan']['서명'].value_counts().reset_index())
    globals()[str(i)+'도수표'].columns = ['서명','도수']

In [ ]:
#소속별 대출도수표 -> 소속별 대출 분위수로 변경
qu = [4,3,2,1]
for i in major_list:
    globals()[str(i)+'분위수'] = globals()[str(i)+'도수표'].copy()
    globals()[str(i)+'분위수'].columns = ['서명','분위수']
    
    #소속별 5분위수 지정
    for s in qu :
        globals()[str(i)+'q'+str(s)] = globals()[str(i)+'분위수']['분위수'].quantile(0.2*s)
    
    #소속별 도출 도수 분위수화
    for t in range(len(globals()[str(i)+'분위수'])) :
        if globals()[str(i)+'분위수']['분위수'][t] > globals()[str(i)+'q'+str(qu[0])]:
            globals()[str(i)+'분위수']['분위수'][t] = 5 
        elif globals()[str(i)+'분위수']['분위수'][t] > globals()[str(i)+'q'+str(qu[1])]:
            globals()[str(i)+'분위수']['분위수'][t] = 4 
        elif globals()[str(i)+'분위수']['분위수'][t] > globals()[str(i)+'q'+str(qu[2])]:
            globals()[str(i)+'분위수']['분위수'][t] = 3
        elif globals()[str(i)+'분위수']['분위수'][t] > globals()[str(i)+'q'+str(qu[3])]:
            globals()[str(i)+'분위수']['분위수'][t] = 2
        else :
            globals()[str(i)+'분위수']['분위수'][t] = 1

In [ ]:
철학과분위수

                         서명  분위수
0                    서양고대철학    5
1                   한국철학사상사    5
2                 니코마코스 윤리학    5
3                    서양근대철학    5
4                       이방인    5
...                     ...  ...
7790  설국열차 =Transperceneige    1
7791                  공포의 집    1
7792                깊이에의 강요    1
7793       구마 사제 :악령과 싸우는 자    1
7794                     중국    1

[7795 rows x 2 columns]

In [ ]:
#소속명분위수.csv로 저장
for i in major_list :
    globals()[str(i)+'분위수'].to_csv('{}분위수.csv'.format(i),index=False)